.tic-tac-toe-board {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  background: gray;
}

.center-container-1 {
  text-align: center;
}

.center-container-2 {
  display: inline-block;
  width: 40%;
  padding-top: 2em;
  padding-bottom: 10em;
}

.tic-tac-toe-cell {
  border: 1px solid black;
  text-align: center;
  padding: 15%;
}

.tic-tac-toe-message {
  padding: 2vw;
}

.tic-tac-toe-play {
  font-size: 3em
}

.tic-tac-toe-mcts {
  font-size: 1em
}