.tic-tac-toe-board {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  background: gray;
}

.tic-tac-toe-cell {
  border: 1px solid black;
  text-align: center;
  padding: 15%;
}

.tic-tac-toe-message {
  padding-bottom: 1em;
}

.tic-tac-toe-play {
  font-size: 3em;
  padding-left: 30%;
  padding-right: 30%;
}

.tic-tac-toe-mcts {
  font-size: 1em
}