.App {
  position: absolute;
  top: 2em;
  bottom: 2em;
  left: 0;
  right: 0;

  margin: auto;

  /* turn off double click to select */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.vertical {
  text-align: center;
}

.game-select {
  text-align: center;
}

.centered {  
  display: inline-block;
  width: 40%;
  padding-top: 1em;
  padding-bottom: 10em;
}

.game {
  text-align: center;
  background: darkslategray;
}
